.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 1em;
  }
  * {box-sizing: border-box;}
.wrapper {
  border: 2px solid ##000000;
  background-color: #000000;
}
.wrapper > div {
  background-color: #ffffff;
  padding: 3em;
  color: #000000;
}
.center {
  text-align:center;

}
